---

- name: Ensure squid compiled with ssl
  ansible.builtin.command: squid -v
  register: squidv
  failed_when: >
    ('with-openssl' not in squidv.stdout and '--enable-ssl-crtd ' not in squidv.stdout) and
    '--with-gnutls' not in squidv.stdout
  changed_when: false

- name: Include certificate-selfsigned
  ansible.builtin.include_tasks: certificate-selfsigned.yml

- name: Ensure /var/lib/squid exists
  ansible.builtin.file:
    dest: /var/lib/squid
    state: directory
    mode: '0700'
    owner: "{{ squid_user }}"
    seuser: system_u
    setype: squid_cache_t

- name: Configure Proxy exclusion for SSL inspection
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/etc/squid/{{ item }}"
    mode: '0644'
  with_items:
    - "{{ squid_noproxy_domains_template }}"
    - "{{ squid_noproxy_ips_template }}"

- name: RedHat<8 | Initialize SSL database
  ansible.builtin.command: /usr/lib64/squid/ssl_crtd -c -s /var/lib/squid/ssl_db
  args:
    creates: /var/lib/squid/ssl_db/index.txt
  become: yes
  become_user: "{{ squid_user }}"
  when: ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version'] | int < 8

- name: Debian+Redhat>=8 | Initialize SSL database
  ansible.builtin.command: "{{ squid_libexec }}/security_file_certgen -c -s /var/lib/squid/ssl_db -M 4MB"
  args:
    creates: /var/lib/squid/ssl_db/index.txt
  become: yes
  become_user: "{{ squid_user }}"
  when: >
    ansible_facts['os_family'] == "Debian" or
    (ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version'] | int >= 8)
