#!/bin/sh
{{ ansible_managed | comment }}
#### Calomel.org  ad_servers_newlist.sh

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
umask 022

## get new ad server list
curl -sS -L --compressed "http://pgl.yoyo.org/adservers/serverlist.php?hostformat=nohtml&showintro=0&mimetype=plaintext" > {{ squid_confdir }}/ad_block.txt 

## refresh squid
[ X`pgrep squid` != X ] && {{ squid_svc }} -k reconfigure
true

