# https://tools.ietf.org/html/draft-chapin-rfc2606bis-00
# https://www.theregister.com/2018/02/12/icann_corp_home_mail_gtlds/
localhost
.test
.example
.invalid
.local
.localdomain
.domain
.lan
.home
.host
# yours?
.example.com
ifconfig.me
