{{ ansible_managed | comment }}
{% if squid_syslog_target is defined and squid_syslog_target != '' %}
if $programname == 'squid' then            {{ squid_syslog_target }}
{%     if rsyslog_v is defined and rsyslog_v | string is version_compare('8.0', '<') %}
& ~
{%     else %}
& stop
{%     endif %}
{% endif %}
