<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Proxy splash page</title>
  </head>
  <body>
    <h1>Welcome on proxy splash page</h1>
    This is the first time someone connects to this page. So, we ask you to think if following page/domain is really the thing that you want to browse and confirm it by filling your email and submitting.<br />
    This will whitelist domain for whole company until next whitelist reset or that an issue is identified.

    URL: <?php echo htmlentities($_GET['url']); ?><br />
    Domain: registered by ... on ...
    Geography: Country (AS...)

    Email
    Submit

    If you have question, feel free reach to reach contact...
  </body>
</html>
